.checkout-container {
    position: sticky;
    top: 125px;
    width: 550px;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    text-align: left;       
}

.total{
    border-bottom: 1px solid #ccc;
    font-size: 20px;
}

.subtotal p {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

.return-info {
    font-size: 20px;
    color: #666;
    padding: 20px 0;
    border-top: 1px solid #ccc;
}

.return-details {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}
.rincian {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.return-details div {
    padding: 2px 0; 
}

.borrow-button {
    width: 100%;
    background-color: #009688;
    color: white;
    border: none;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 4px;
}

.borrow-button:hover {
    background-color: #00796b;
}

.main-content {
    display: flex;
    flex-direction: row;
    padding: 25px 50px;
    gap: 50px;
}

.book-list {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
}

.empty {
    display: flex;
    width: 100%;
    justify-content: center;
}