.card {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 250px;
    height: fit-content;
    font-family: Schibsted Grotesk;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
}

.card .bookbg {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    background-color: #c0dcec;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
}

.card img {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 144px;
    display: block;
    margin: auto;
}

.card h1 {
    color: #000000;
    font-size: 18px;
    margin: 0;
}

.card button {
    background-color: #15998e;
    color: white;
    border: none;
    padding: 15px 60px; /* Adjusted padding to maintain button size */
    cursor: pointer;
    border-radius: 20px;
    font-size: 16px;
}

.card button:hover {
    background-color: #3a833d;
}
