
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    height: 80px;
    font-size: 20px;
    color: #008080;
    background-color : #FFFFFF;
    border-top: 2px solid #D3D3D3;
}

.footer-text {
    margin: 0;
}
