body {
    background-color: linear-gradient(to left top, rgba(192, 220, 236, 1) , rgba(255, 255, 255, 0) 100%);
    padding: 0px 75px;
}
.header-content {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding: 30px 20px;
    text-align: left;
}
.header-content h1 {
    font-size: 50px;
    color: #15998E;
    margin-bottom: 0px; 
}
.header-content p {
    font-size: 26px;
    color: #45B08C;
}
.header-content h2 {
    font-size: 45px;
    color: #000000;
}
.btn-all {
    text-align: right;
    font-size: 30px;
    color: #15998E; 
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    text-decoration: none;
}
.home-img img{
    width: 413px;
    height: 405px;
    display: block;  
}
.title {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}