.success-message {
    width: 700px;
    height: 482px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    margin: auto;
    padding: 0;
    background: linear-gradient(to bottom, #dfe9f3, #ffffff);
}

.header {
    width: 700px;
    height: 56px;
    background-color: #009688;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.content {
    margin-top: 0;
    padding: 0;
    background-color: #ffffff;
}

.check-icon {
    width: 700px;
    height: 200px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.check-icon img {
    height: 150px;
    margin: 20px;
}

.message {
    width: 620px;
    height: 24px;
    font-size: 18px;
    opacity: 1;
    text-align: left;
    margin-left: 40px;
    font-weight: bold;
}

.address {
    width: 620px;
    height: 68px;
    font-size: 14px;
    padding: 0 40px;
    margin-bottom: 20px;
    line-height: 1.6;
    opacity: 1;
    text-align: left;
}

.footer-container {
    width: 700px;
    height: 94px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.timer {
    font-size: 14px;
    color: #757575;
    background-color: #e0f7fa;
    border-radius: 4px;
    padding: 10px 20px;
    border: 1px solid #009688;
    margin-left: 40px;
}

.timer span {
    font-weight: bold;
    color: #d32f2f;
}

.footer button {
    background-color: #009688;
    color: white;
    font-size: 16px;
    padding: 10px 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 40px;
}

.footer button:hover {
    background-color: #00796b;
}
